<ngx-ui-loader [text]="preloaderMessage"></ngx-ui-loader>

<div class="container-fluid px-0">
  <!-- route name and buttons -->
  <div class="row no-gutters px-3">
    <div class="col-6 d-flex">
      <h1 class="my-auto" data-testid="process">{{'HEADER.PROCESSES' | translate}}</h1>
    </div>

    <div class="col-6 d-flex justify-content-end">
      <p-button type="button" class="add-button" icon="icon icon-add-eland" data-testid="process-upload"
        (click)="displayUploader = true; setDefaultDeploymentName()" label="{{'COMMON.ACTIONS.ADD' | translate}}">
      </p-button>
    </div>
  </div>

  <!-- searchbar and filters dropdown -->
  <div class="row no-gutters mb-3 px-3">
    <div class="col-12">
      <app-searchbar *ngIf="cols" [tableCols]="cols" [table]="dataTableProcesses" [enableDropdown]=true>
      </app-searchbar>
    </div>
  </div>

  <!-- table -->
  <div class="row no-gutters px-3">
    <div class="col-12">
      <p-table [columns]="cols" [value]="processes" [paginator]="true" [rows]="rowSizes.SMALL" #dataTableProcesses>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="header-processes">
              <div class="d-flex">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <span class="ml-2">{{col.header}}</span>
              </div>
            </th>
            <th>{{'COMMON.ACTIONS.ACTION' | translate}}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <ng-container *ngIf="col.field === 'deploymentDate'; else default">
                <span> {{ rowData[col.field] | specificTimezone | localeDate:'longDate' }} </span>
              </ng-container>
              <ng-template #default>
                <ng-container>
                  <span> {{ rowData[col.field] }}</span>
                </ng-container>
              </ng-template>
            </td>
            <td>
              <p-button type="button" class="download-button" icon="icon icon-download-eland "
                label="{{'COMMON.ACTIONS.DOWNLOAD' | translate}}" (click)="downloadBPNMFile(rowData)"></p-button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <div>{{'COMMON.LABELS.NO_RECORDS_FOUND' | translate}}</div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- dialog -->
<p-dialog *ngIf="displayUploader" appendTo="body" [closable]="false" [(visible)]="displayUploader" [modal]="true"
  styleClass="dialog-w600" [maximizable]="true">

  <form #form="ngForm" (ngSubmit)="save(form)">
    <div class="container-fluid px-0">
      <div class="row no-gutters px-3">
        <div class="col-12 p-3">
          <h1> {{'COMMON.ACTIONS.ADD' | translate}}</h1>
        </div>
        <core-alert *ngIf="errorMessage" [local]="true" [autoClear]="false" [message]="errorMessage"></core-alert>
      </div>

      <div class="row no-gutters px-3">
        <label for="name" class="col-4 col-form-label">{{'DEPLOYMENT.NAME' | translate}}
          <span class="text-info">*</span></label>
        <div class="col-8">
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="deployment.name" required
            #name="ngModel">
        </div>
      </div>

      <div class="row no-gutters px-3">
        <div class="col-12">
          <p-fileUpload name="files[]" chooseLabel="{{'COMMON.ACTIONS.UPLOAD' | translate}}" customUpload="true"
            auto="true" multiple="multiple" (uploadHandler)="addFiles($event)" accept=".bpmn,.cmmn,.dmn"
            invalidFileSizeMessageSummary="{0}" invalidFileSizeMessageDetail="{{'MESSAGES.MAX_FILE_ERROR' | translate}}"
            maxFileSize="1000000" ui-fileupload-buttonbar="btn btn-warning text-white" required></p-fileUpload>
          <span class="text-info">*</span>
        </div>
      </div>

      <div class="row no-gutters px-3">
        <div class="col-12 ">
          <div class="ml-auto pull-right">
            <p-button type="button" (click)="resetDeployment()" label="{{'COMMON.ACTIONS.CANCEL' | translate}}"
              icon="fa fa-undo" class="cancel-button mr-2"></p-button>
            <p-button type="submit" label="{{'COMMON.ACTIONS.SAVE' | translate}}" icon="fa fa-check"
              class="save-button"></p-button>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
