<p-dialog appendTo="body" [style]="{ width: '600px' }" [header]="title" [(visible)]="item" [modal]="true"
  [responsive]="true" [maximizable]="true" (onHide)="cancel()">
  <div>
    <div class="container-fluid px-0">

      <core-alert *ngIf="errors" [local]="true" [autoClear]="true" [message]="errors"></core-alert>
      <!-- key, name, rtl? -->
      <div class="row no-gutters px-3 pt-3">
        <label class="col-4 col-form-label">{{'PARAMETERS.TERRITORY.COMMON.NAME' | translate}}
          <span class="text-info"></span></label>
        <div class="col-8">
          <input type="text" class="form-control" [(ngModel)]="item.name" required #name="ngModel">
        </div>
      </div>
      <div class="row no-gutters px-3 pt-3">
        <label class="col-4 col-form-label">{{'PARAMETERS.TERRITORY.COMMON.CODE' | translate}}
          <span class="text-info"></span></label>
        <div class="col-8">
          <input type="text" class="form-control" [(ngModel)]="item.code" required #name="ngModel">
        </div>
      </div>

      <div class="row no-gutters px-3 pt-3">
        <div class="col-12">
          <div class="pull-right mb-3">
            <p-button type="button" icon="fa fa-undo" label="{{'COMMON.ACTIONS.CANCEL' | translate}}"
              class="cancel-button mr-3" (click)="cancel()"></p-button>
            <p-button icon="fa fa-floppy-o" label="{{'COMMON.ACTIONS.SAVE' | translate}}" class="save-button"
              (click)="save()"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>

</p-dialog>
