<div *ngIf="!field.disabled" class="form-group row no-gutters px-3" [formGroup]="group">
  <label for="field.name" class="col-4 col-form-label">{{field.label | translate}}</label>

  <div class="col-8">
    <p-checkbox [formControlName]="field.name" [style]="{'width':'509x', 'height':'50px'}" [formGroupName]="field.name" name="field.name" binary="false"
      [disabled]="field.readOnly">
    </p-checkbox>
    <!-- TODO: unify error accross forms. -->
    <ng-container *ngFor="let validation of field.validations;">
      <span
        *ngIf="group.get(field.name)!== null && group.get(field.name).hasError(validation.name) && group.get(field.name).touched"
        #err>
        <i class="fa fa-exclamation text-danger mr-2" aria-hidden="true"></i>
      </span>
    </ng-container>
  </div>
</div>
