<div class="row no-gutters form-group px-3" *ngIf="!field.disabled" [formGroup]="group">
  <label class="col-4 col-form-label">{{field.label | translate}} <span class="text-info"
      *ngIf="field.isRequired()">*</span></label>

  <div class="col-8">
    <p-dropdown appendTo="body" styleClass="form-control w-100" [options]="field.options" [name]="field.name"
      [dataKey]="field.dataKey" (onChange)="onChange($event, field)" [formControlName]="field.name"
      [readonly]="field.readOnly"></p-dropdown> 
  </div>
</div>
