<div class="container-fluid px-0">
  <!-- route name and buttons -->
  <div class="row no-gutters px-3">
    <div class="col-6 d-flex">
      <h1 class="my-auto">{{ 'FORMS.TITLE' | translate}}</h1>
    </div>

    <div class="col-6 d-flex justify-content-end">
      <p-button type="button" class="add-button" icon="icon icon-add-eland" label="{{'COMMON.ACTIONS.ADD' | translate}}"
        (click)="showFormsElementDialogue('COMMON.ACTIONS.ADD')"></p-button>
    </div>
  </div>

  <!-- searchbar and filters dropdown -->
  <div class="row no-gutters px-3 mb-3">
    <div class="col-12">
      <app-searchbar *ngIf="cols" [tableCols]="cols" [table]="dataTableGroupForms" [enableDropdown]=true>
      </app-searchbar>
    </div>
  </div>

  <!-- table -->
  <div class="row no-gutters px-3">
    <div class="col-12">
      <p-table [columns]="cols" [value]="forms" [rows]="rowSizes.SMALL" [paginator]="true" #dataTableGroupForms>
        <ng-template pTemplate="header" let-column>
          <tr>
            <th *ngFor="let col of cols" [ngStyle]="{'width': col.width}">
              <div>
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <span class="ml-2">{{col.header}}</span>
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-form>
          <tr>
            <td>{{form.name}}</td>
            <td>{{form.description}}
              <div class="pull-right">
                <p-button class="add-button px-1" type="button" icon="icon icon-edit-eland"
                  (click)="showFormsElementDialogue('COMMON.ACTIONS.EDIT' , form)"></p-button>
                <p-button class="delete-button fsize10 px-1" type="button" icon="fa fa-trash"
                  (click)="removeForm(form)"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <div>{{'COMMON.LABELS.NO_RECORDS_FOUND' | translate}}</div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- dialog -->
<app-dialog appendTo="body" [header]="modalTitle" [(display)]="currentForm" modal="modal" #formsGroupElementDialog>
  <app-params-forms-element [form]="currentForm" *ngIf="currentForm" (saved)="saved()" (canceled)="canceled()">
  </app-params-forms-element>
</app-dialog>
