<p-dialog appendTo="body" [(visible)]="codeList" [modal]="true" [responsive]="true" [closable]="false"
  styleClass="dialog-w600-scrollable" [maximizable]="true">
  <form #form="ngForm" (ngSubmit)="save(codeList, form)" [ngClass]="{'was-validated': form.submitted}" novalidate>
    <div class="container-fluid px-0">
      <div class="row no-gutters mb-2">
        <h1 class="col-6"> {{'COMMON.ACTIONS.ADD' | translate}} : {{ titleCodeList | translate }} </h1>
      </div>

      <core-alert *ngIf="errorMessage" [local]="true" [autoClear]="true" [message]="errorMessage"></core-alert>

      <div class="row no-gutters px-3 mb-2">
        <label for="name" class="col-4 col-form-label">{{'CODELIST.TYPE' | translate}} <span class="text-info">*</span>
        </label>
        <div class="col-8">
          <p-dropdown styleClass="form-control w-100" name="codeListType" [options]="codeListTypes"
            [(ngModel)]="codeList.type" [disabled]="readOnlyType" required></p-dropdown>
        </div>
      </div>

      <div class="row no-gutters px-3 mb-2">
        <label for="name" class="col-4 col-form-label">{{'CODELIST.VALUE' | translate}} <span
            class="text-info">*</span></label>
        <div class="col-8">
          <input type="text" class="form-control" name="value" id="value" placeholder="{{'CODELIST.VALUE' | translate}}"
            [(ngModel)]="codeList.value" [pattern]="validationService.languageKeywordRegEx.source" required>
        </div>
      </div>

      <div class="row no-gutters px-3 mb-2">
        <label for="description" class="col-4 col-form-label">{{'CODELIST.DESCRIPTION' | translate}}</label>
        <div class="col-8">
          <textarea name="description" id="description" rows="3" cols="100" pInputTextarea class="form-control"
            autoResize="autoResize" [(ngModel)]="codeList.description"></textarea>
        </div>
      </div>

      <div class="row no-gutters px-3 mb-2">
        <label for="sigtasId" class="col-4 col-form-label">{{'CODELIST.SIGTAS_ID' | translate}}</label>
        <div class="col-8">
          <input type="number" class="form-control" name="sigtasId" id="sigtasId"
            placeholder="{{'CODELIST.SIGTAS_ID' | translate}}" [(ngModel)]="codeList.sigtasId"
            [pattern]="validationService.positiveDecimalRegEx.source">
        </div>
      </div>

      <div class="row no-gutters px-3 mb-2">
        <label for="isSystemAssign" class="col-4 col-form-label">{{'CODELIST.IS_SYSTEM_ASSIGN' | translate}}</label>
        <div class="col-8">
          <p-checkbox [(ngModel)]="codeList.isSystemAssign" name="isSystemAssign" binary="true">
          </p-checkbox>
        </div>
      </div>

      <div class="row no-gutters px-3 mb-2">
        <label for="isSystemAssign" class="col-4 col-form-label">{{'CODELIST.TRANSLATION' | translate}}</label>

      </div>

      <app-translation-translation-panel [options]="{localSave: !!codeList.id}"></app-translation-translation-panel>


      <div class="row no-gutters px-2">
       <div class="col-12">
        <div class="pull-right">
          <p-button type="button" label="{{'COMMON.ACTIONS.CANCEL' | translate}}" icon="fa fa-undo"
            class="cancel-button mr-2" (click)="close()"></p-button>
          <p-button type="submit" label="{{'COMMON.ACTIONS.SAVE' | translate}}" icon="fa fa-floppy-o"
            class="save-button mr-2"></p-button>
          <p-button type="button" label="{{'COMMON.ACTIONS.DELETE' | translate}}" icon="fa fa-times" class="delete-button"
            *ngIf="codeList?.codeListID" (click)="deleteCodeList(codeList)"></p-button>
        </div>
       </div>
      </div>

    </div>
  </form>
</p-dialog>
