.bl-lbl {
  border-radius: 3px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  padding: 3px 3px 3px 8px;
  display: inline-block;
}

.lbl-data {
  padding: 3px 3px 3px 8px;
  display: inline-block;
}
