<div class="container-fluid px-0">
  <div class="row no-gutters px-3">
    <div class="col-6 d-flex">
      <h1>{{'CONSISTENCY_CHANGE.PARTITION.TITLE' | translate}}</h1>
    </div>

    <div class="col-6">
      <div class="pull-right" *ngIf="!disabled">
        <!--        <p-button type="button" label="{{'COMMON.ACTIONS.CANCEL' | translate}}" icon="fa fa-undo" class="cancel-button mr-2"-->
        <!--                  (click)="onCancel()"></p-button>-->
        <p-button type="button" label="{{'COMMON.ACTIONS.SAVE' | translate}}" icon="fa fa-floppy-o" class="save-button"
          (click)="save.emit({source: source, destinations: destinations})" [disabled]="saving"></p-button>
      </div>
    </div>
  </div>

  <sog-sd-drag-panels [source]="source"
    [titles]="{source: 'CONSISTENCY_CHANGE.BAUNIT_SOURCE', destination: 'CONSISTENCY_CHANGE.BAUNIT_DESTINATION'}"
    [destinations]="destinations" (sourceDrop)="dropSource($event)" (destinationDrop)="dropDestination($event)"
    (expand)="expanded($event)" (remove)="removed($event)" [readOnly]="disabled">
    <ng-template #sdHeaderTitle let-helem>
      <span class="font-weight-bold">{{helem.title | translate}}</span> <span style="font-weight: 300">
        {{helem.item.base?.titleName}}</span>
    </ng-template>
    <ng-template #sdHeaderInfos let-helem>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'TITLE_TYPE' | translate}} :"></sog-ind>
        {{helem.item.base?.type?.description}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'REGISTRY' | translate}} :"></sog-ind>
        {{helem.item.base?.registryRecord?.registry?.name}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'REFERENCE_TITLE' | translate}} :"></sog-ind>
        {{helem.item.base?.titleReference}}
      </div>
    </ng-template>
    <ng-template #sdBodyTitle let-item>{{item.base?.parcelNumber}}</ng-template>
    <ng-template #sdBodyInfos let-item>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'INSCRIPTION_DATE' | translate}} :"></sog-ind>
        {{item.base?.inscriptionDate | localeDate}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'SUBDIVISION_NAME'| translate}} :"></sog-ind>
        {{item.base?.lotName}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'BLOCK_NUMBER' | translate}} :"></sog-ind>
        {{item.base?.blockNumber}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'WAY' | translate}} :"></sog-ind>
        {{item.base?.way}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'DOOR' | translate}} :"></sog-ind>
        {{item.base?.door}}
      </div>
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-6">
        <sog-ind label="{{'DESCRIPTION' | translate}} :"></sog-ind>
        {{item.base?.parcelDescription}}
      </div>
    </ng-template>
  </sog-sd-drag-panels>

  <app-dialog appendTo="body" [(display)]="showPopup" modal="modal" [autoHeight]="false" [header]="header">
    <app-spatial-unit *ngIf="spatialUnit" [skipGetSpatialUnit]="true" [readOnly]="true" [spatialUnit]="spatialUnit"
      [noTopBar]="true">
    </app-spatial-unit>
    <app-ba-unit-view *ngIf="baUnit" [baUnit]="baUnit" [options]="baUnitOptions"></app-ba-unit-view>
  </app-dialog>
</div>
