<div class="row no-gutters px-3 mb-3">
  <label for="text" class="col-4 col-form-label">{{'UPLOAD_DOCUMENT.CHEQUE_NUMBER' | translate}} <span
      class="text-info">*</span></label>
  <div class="col-8">
    <input type="text" class="form-control" name="chequeNumber" id="chequeNumber" [(ngModel)]="cheque.chequeNumber"
      required>
  </div>
</div>
<div class="row no-gutters px-3 mb-3">
  <label for="text" class="col-4 col-form-label">{{'UPLOAD_DOCUMENT.AMOUNT' | translate}} <span
      class="text-info">*</span></label>
  <div class="col-8">
    <input type="number" class="form-control" name="amount" id="amount" [(ngModel)]="cheque.amount" required>
  </div>
</div>
<div class="row no-gutters px-3 mb-3">
  <label for="text" class="col-4 col-form-label">{{'UPLOAD_DOCUMENT.INSTITUTION' | translate}} <span
      class="text-info">*</span></label>
  <div class="col-8">
    <input type="text" class="form-control" name="institution" id="institution" [(ngModel)]="cheque.institution"
      required>
  </div>
</div>
<div class="row no-gutters px-3 mb-3">
  <label for="text" class="col-4 col-form-label">{{'UPLOAD_DOCUMENT.CARDHOLDER' | translate}} <span
      class="text-info">*</span></label>
  <div class="col-8">
    <input type="text" class="form-control" name="cardholder" id="cardholder" [(ngModel)]="cheque.cardholder" required>
  </div>
</div>
