<div class="container-fluid px-0">
  <!-- route name and buttons -->
  <div class="row no-gutters px-3">
    <div class="col-6 d-flex">
      <h2 class="my-auto">{{ 'RRR_VALIDATION.PARTY_ROLE.TITLE' | translate}}</h2>
    </div>

    <div class="col-6 d-flex justify-content-end">
      <p-button *ngIf="!readOnly" type="button" class="add-button" icon="icon icon-add-eland"
        label="{{'COMMON.ACTIONS.ADD' | translate}}" (click)="showRRRValidationPartyRoleElementDialogue()"></p-button>
    </div>
  </div>

  <!-- searchbar and filters dropdown -->

  <!-- table -->
  <div class="row no-gutters px-3">
    <div class="col-12">
      <p-table [columns]="cols" [value]="rrrValidation.partyRoles" [rows]="rowSizes.SMALL" [paginator]="true"
        #dataTablePartyRoles>
        <ng-template pTemplate="header" let-column>
          <tr>
            <th *ngFor="let col of cols" [ngStyle]="{'width': col.width}">
              <div>
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <span class="ml-2">{{col.header}}</span>
              </div>
            </th>
            <th *ngIf="!readOnly" class="text-dark font-weight-bold">{{'COMMON.ACTIONS.ACTION' | translate}}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rrrValidationPartyRole>
          <tr>
            <td>{{'CODELIST.VALUES.' + rrrValidationPartyRole.role.value | translate}}</td>
            <td>
              <p-triStateCheckbox *ngIf="rrrValidationPartyRole.required" class="mr-3"
                [ngClass]="{'blue-checkbox': true}"></p-triStateCheckbox>
            </td>
            <td *ngIf="!readOnly">
              <div class="pull-right">
                <p-button class="add-button px-1" type="button" icon="icon icon-edit-eland"
                  (click)="showRRRValidationPartyRoleElementDialogue(rrrValidationPartyRole)"></p-button>
                <p-button class="delete-button fsize10 px-1" type="button" icon="fa fa-trash"
                  (click)="removeRRRValidationPartyRole(rrrValidationPartyRole)"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <div>{{'COMMON.LABELS.NO_RECORDS_FOUND' | translate}}</div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- dialog -->
<app-dialog appendTo="body" [(display)]="rrrValidationPartyRole" modal="modal" #partyRoleElementDialog>
  <app-rrr-validation-party-role-element *ngIf="rrrValidationPartyRole"
    [rrrValidationPartyRole]="rrrValidationPartyRole" (saved)="saveRRRValidationPartyRole($event)"
    (canceled)="canceled()"></app-rrr-validation-party-role-element>
</app-dialog>
