<div>
  <div class="container-fluid px-0">

    <core-alert *ngIf="errorMessage" [local]="true" [autoClear]="true" [message]="errorMessage"></core-alert>
    <div class="row no-gutters p-3 mb-2">
      <!-- title -->
      <div class="col-6">
        <h1> {{'COMMON.ACTIONS.' + (rrrValidationPartyRole.id ? 'EDIT' : 'ADD') | translate}}</h1>
      </div>

    </div>

    <div class="row form-group no-gutters px-3">
      <label for="partyRole" class="col-4 col-form-label">{{'RRR_VALIDATION.PARTY_ROLE.ROLE_NAME' | translate}}
        <span class="text-info">*</span></label>
      <div class="col-8">
        <p-dropdown name="partyRole" id="partyRole" styleClass="form-control w-100"
          [(ngModel)]="rrrValidationPartyRole.role" [options]="partyRoles" required></p-dropdown>
      </div>
    </div>

    <div class="row form-group no-gutters px-3">
      <label for="partyRoleRequired" class="col-4 col-form-label">{{'RRR_VALIDATION.PARTY_ROLE.REQUIRED' | translate}}
        <span class="text-info">*</span></label>
      <div class="col-8">
        <p-checkbox name="partyRoleRequired" id="partyRoleRequired" required
          [(ngModel)]="rrrValidationPartyRole.required" binary="true"></p-checkbox>
      </div>
    </div>
    <!-- buttons -->
    <div class="col-12">
      <div class="pull-right mb-3 mt-3">
        <p-button type="button" icon="fa fa-undo" label="{{'COMMON.ACTIONS.CANCEL' | translate}}"
          class="cancel-button mr-2" (click)="cancel()"></p-button>
        <p-button icon="fa fa-floppy-o" label="{{'COMMON.ACTIONS.SAVE' | translate}}" class="save-button"
          (click)="save(rrrValidationPartyRole)"></p-button>
      </div>
    </div>
  </div>
</div>
