<div class="container-fluid p-1 inner">
  <!-- route name and buttons -->
  <div class="row no-gutters px-3">
    <div class="col-6 d-flex">
      <h1 class="my-auto">{{ 'PARAMETERS.REGISTRY.TITLE' | translate}}</h1>
    </div>

    <div class="col-6 d-flex justify-content-end">
      <p-button type="button" class="add-button" icon="icon icon-add-eland" label="{{'COMMON.ACTIONS.ADD' | translate}}"
        (click)="showRegisreyBookElementDialogue()"></p-button>
    </div>
  </div>

  <!-- searchbar and filters dropdown -->
  <div class="row no-gutters px-3 mb-3">
    <div class="col-12">
      <app-searchbar *ngIf="cols" [tableCols]="cols" [table]="dataTableGroupForms" [enableDropdown]=true>
      </app-searchbar>
    </div>
  </div>

  <!-- table -->
  <div class="row no-gutters px-3">
    <div class="col-12">
      <p-table [columns]="cols" [value]="registries" [rows]="rowSizes.SMALL" [paginator]="true" #dataTableGroupForms>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
              <div>
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <span class="ml-2">{{col.header}}</span>
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-registry>
          <tr>
            <td>{{registry.code}}</td>
            <td>{{registry.name}}</td>
            <td>{{('CODELIST.VALUES.' + registry.titleType.value) | translate}}</td>
            <td>{{registry.description}}
              <div class="pull-right">
                <p-button class="add-button px-1" type="button" icon="icon icon-edit-eland"
                  (click)="showRegisreyBookElementDialogue(registry)"></p-button>
                <!--                <p-button class="delete-button fsize10 px-1" type="button" icon="fa fa-trash" (click)="removeRegion(region)"></p-button>-->
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <div>{{'COMMON.LABELS.NO_RECORDS_FOUND' | translate}}</div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<!-- dialog -->

<app-params-territory-element-dialog [title]="modalTitle" [item]="currentRegistry" [col]="titleTypes"
  *ngIf="currentRegistry" (saved)="saved($event)" (canceled)="canceled()" [errors]="modalErrors"
  [convertToSelectItem]="false" selectTxt="PARAMETERS.REGISTRY.SELECT_TITLE_TYPE" subItemModel="titleType"
  subItemLabel="PARAMETERS.REGISTRY.TITLE_TYPE"></app-params-territory-element-dialog>
