<div class="form-group row no-gutters px-3" *ngIf="!field.disabled" [formGroup]="group">
  <label [for]="field.name" class="col-4 col-form-label">{{field.label | translate}} <span class=" text-info"
      *ngIf="field.isRequired()">*</span></label>

  <div class="col-8">
    <p-calendar [maxDate]="disableFutureDates" appendTo="body" [formControlName]="field.name" name="field.name" [id]="field.name"
      [disabled]="field.readOnly" inputStyleClass="form-control" [dateFormat]="locale.dateFormat"
      [showTime]="field.showTime" [locale]="locale" [monthNavigator]="true" [yearNavigator]="true"
      [yearRange]="disableFutureYears" styleClass="w-100" [showTime]="field.showTime" [required]="field.isRequired()">
    </p-calendar>
  </div>
</div>
