<section class="forgot-password-page">

  <section class="elandslider-panel">
    <swiper class="elandslider" fxFlex="auto" [config]="sliderConfig">
      <div *ngFor="let slide of slides; let index = index" class="eland-slide">
        <div class="bg-elanslider" [ngStyle]="{'background-image':'url(' + slide.visualMain + ')'}">
        </div>
      </div>
    </swiper>
  </section>

  <!-- Retrieve password -->
  <section class="main">
    <div class="login-form">
      <a class="logo" routerLink="/">
        <img title="{{'HEADER.APP_TITLE' | translate}}"
          [attr.src]="'./assets/layout/images/logo-sgf.png'">
      </a>
      <form>
        <div class="row message pt-5 pb-4">
          <div class="col-12">
            <p>{{'FORGOT_PASSWORD.MESSAGE' | translate}}</p>
          </div>
        </div>
        <div class="row email pb-5">
          <div class="col-12">
            <input type="text" name="email" placeholder="{{'FORGOT_PASSWORD.EMAIL' | translate}}" />
          </div>
        </div>

        <div class="row button-login pb-5">
          <div class="col-12">
            <div class="button" (click)="submit()">
              <p>{{'FORGOT_PASSWORD.CREATE_NEW_PASSWORD' | translate}}</p>
              <i class="icon icon-sign-in-eland"></i>
            </div>
          </div>
        </div>

        <div class="row to-login">
          <div class="col-12">
            <a routerLink="/login">
              <p>
                <i class="icon icon-chevron-left-eland"></i>
                {{'FORGOT_PASSWORD.TO_LOGIN' | translate}}
              </p>
            </a>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section class="footer">
  </section>
</section>
