<section class="home-page">
  <section class="elandslider-panel">
    <swiper class="elandslider" fxFlex="auto" [config]="sliderConfig">
      <div *ngFor="let slide of slides; let index = index" [ngClass]="{'disable-copy' : slide.disableCopy}"
        class="eland-slide">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
          <div class="bg-elanslider" [style.background-image]="'url(' + slide.visualMain + ')'">
            <div class="copy-block">
              <!-- to be replaced with the eland icon font - to come -->
              <div class="title-spans">
                <a href="{{slide.link}}" target="_blank" rel="noopener">
                  <i class="icon icon-go-eland"></i>
                </a>
                <span class="title-header">
                  {{slide.titleHeader}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper>
  </section>

  <section class="main-content">
    <div class="title">
      <h1 class="h-text">{{'MESSAGES.WELCOME_TITLE' | translate}}</h1>
    </div>
    <app-quicklinks></app-quicklinks>
  </section>

  <section class="footer">
  </section>
</section>
