.sog-panel-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  font-size: 14px;
  background-color: rgb(244, 244, 244);
  color: black;
  font-weight: bold;
  border-style: solid;
}

.sog-panel-content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: rgb(200, 200, 200);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  background-color: #fff;
}
